* {
  margin: 0px;
  /* padding: 0px; */
}
a:active {
  margin-top: 10px;
  color: white;
}
a:hover {
  margin-top: 10px;
  color: white;
}
a:visited {
  margin-top: 10px;
  color: white;
}

a:link {
  margin-top: 10px;
  color: white;
  padding: 0px;
}
#sidebar {
  position: fixed;
  width: 180px;
  height: 100%;
  background-color: #0b8c8c;
  left: -180px;
  justify-content: left;
  margin-top: 90px;
}

#sidebar.active {
  left: 0px;
}
#sidebar ul li {
  color: white;
  list-style: none;
  padding: 15px 10px;
  border-bottom: 1px solid white;
}
header {
  padding: 20px;
  width: 100%;
  background-color: #0b6767;
  height: 90px;
  position: fixed;
  color: white;
}
label {
  z-index: 1;
  position: fixed;
  cursor: pointer;
  left: 150px;
}
img {
  width: 150px;
  height: 150px;
  margin-top: 20px;
  border-radius: 50%;
}

h4 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

main {
  padding-top: 100px;
  margin-left: 200px;
  left: -200px;
}

#main.active {
  /* margin-top: 70px; */
  margin-left: 30px;
  left: 0px;
}

#main {
  /* background-image: url(..//images/image.jpg); */
  background-size: cover;
  height: 100vh;
  margin-left: 180px;
  padding-left: 10px;
}
.Download {
  float: right;
  border-style: double;
  background-color: #0b8c8c;
}

#download {
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 0px;
  padding: 5px;
}
span {
  font-style: bold;
  color: blue;
  font-size: 20px;
}

.university,
.experiance {
  border-style: double;
  text-align: left;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding: 20px;

  padding: 10px;
  box-shadow: 0 0 10px 2px;
  float: left;
  width: 70%;
}
.education {
  /* border-left: solid; */
  /* text-align: left; */
  /* border-color: green; */
  font-style: normal;
  color: #0b8c8c;
  padding-left: 10px;
  float: left;
  width: 70%;
}

.edu {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.WorkExp {
  border-bottom: black;
  font-size: 12px;
}
.years {
  font-size: x-small;
  color: black;
}
.worktitle {
  font-size: 14px;
  font-style: bold;
}
.experiance {
  float: left;
  width: 70%;
}
.recomendation {
  float: right;
  width: 20%;
  border-style: double;
  background-color: #faf9ec;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin-top: 60px;
}
.WorkExp {
  border-bottom: black;
  font-size: 12px;
}
.row_flex {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
}
.flex-column_1 {
  float: left;
  width: 30%;
  margin-top: 20px;
  margin-right: 20px;
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 640px) {
  .flex-column_1 .Download .education .university {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  .flex-column_1 .Download .education .university {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 980px) {
  .flex-column_1.Download .education .university {
    width: 100%;
    margin-bottom: 20px;
  }
}

form {
  margin-left: 20px;
  margin-right: 20px;
}

#label {
  position: inherit;
}

p {
  font-style: italic;
  text-align: center;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.about {
  margin-top: 200px;
  margin-right: 50px;
  margin-left: 150px;
  padding: 20px;
  border-style: none;
}
#recomen {
  font-size: 20px;
  color: #0b8c8c;
}

#bottom-margin {
  background-color: #0b8c8c;
  border-color: #0b8c8c;
}
