h2 {
  border-bottom: 1px groove;
  margin-bottom: 40px;
}

p {
  font-family: "Open Sans", sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img {
  width: 300px;
  height: 200px;
  float: left;
  margin-right: 20px;
}

.row_flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-column_1 {
  float: left;
  width: 30%;
  margin-top: 20px;
  margin-right: 20px;
}

::selection {
  color: yellow;
  background-color: gray;
}
main {
  margin-bottom: 20px;
}

#bottom-margin {
  margin-bottom: 20px;
}
.container {
  margin-top: 20px;
  width: 100%;
  font-style: italic;
  background-color: #fff0f5;
}
.navbar-brand {
  background-color: azure;
  padding: 10px;
  margin-left: 30px;
  font-family: "Satisfy", cursive;
}

/* link properties*/
a:link {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: blue;
}
a:visited {
  color: black;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 640px) {
  .flex-column_1 {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  .flex-column_1 {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 980px) {
  .flex-column_1 {
    width: 100%;
    margin-bottom: 20px;
  }
}
article {
  margin-bottom: 30px;
}
