h1 {
  border-bottom: 1px groove;
  margin-bottom: 40px;
}

p {
  font-family: "Open Sans", sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img {
  width: 300px;
  height: 200px;
  float: left;
  margin-right: 20px;
  border-radius: 30%;
}

.row_flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-column_1 {
  float: left;
  width: 30%;
  margin-top: 20px;
  margin-right: 20px;
}

::selection {
  color: yellow;
  background-color: gray;
}
main {
  margin-bottom: 20px;
}

#bottom-margin {
  margin-bottom: 20px;
}
.container {
  margin-top: 20px;
  width: 100%;
  font-style: italic;
  background-color: #fff0f5;
}
.navbar-brand {
  background-color: azure;
  padding: 10px;
  margin-left: 30px;
  font-family: "Satisfy", cursive;
}

/* link properties*/
a:link {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: blue;
}
a:visited {
  color: black;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 640px) {
  .flex-column_1 {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  .flex-column_1 {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 980px) {
  .flex-column_1 {
    width: 100%;
    margin-bottom: 20px;
  }
}
article {
  margin-bottom: 30px;
}

/* .bck {
  background-image: url(../Images/LMS.jpg);
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 800px;
  position: relative;
} */
span {
  font-style: bold;
  color: blue;
  font-size: 20px;
}

.university,
.experiance {
  border-style: double;
  text-align: left;
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding: 20px;
  box-sizing: 100px;
}
.education {
  /* border-left: solid; */
  /* text-align: left; */
  /* border-color: green; */
  font-style: normal;
  color: dodgerblue;
}

.edu {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}
.WorkExp {
  border-bottom: black;
}

h3 {
  font-size: 12px;
}
